<template>
	<view class="xf-cupid-personalInfo">
		
	</view>
</template>

<script>
	export default {
		data() {
			return {}
		},
		created() {},
		methods: {
			
		}
	}
</script>

<style lang="scss" scoped>
	.xf-cupid-personalInfo {
		
	}
</style>