<template>
	<view class="xf-cupid_message">
		<view class="status_bar"></view>
		<!-- 头部 -->
		<view class="xf-cupid_head">
			<u-tabs :list="navList" :current="current" @change="change"></u-tabs>
		</view>
		<!-- 搜索 -->
		<view class="xf-cupid_search">
			<u-search placeholder="搜索备注, 昵称"></u-search>
		</view>
		<!-- 索引列表 -->
		<view class="xf-cupid_indexList">
			<!-- 通讯录 -->
			<view class="indexList-contacts" v-if="current == 0">
				<!-- 头部 -->
				<view class="contacts-head">
					<view class="contacts-head_item" v-for="(item, index) in indexHeadArr">
						<view>{{ item.name }}</view>
						<view>{{ item.number }}</view>
					</view>
				</view>
				<!-- 主内容 -->
				<view class="contacts-main">
					<view class="contacts-main_title">
						<view class="title-left">我的关注</view>
						<view class="title-right">18</view>
					</view>
					<view class="contacts-main_item" v-for="(item, index) in chatsMainArr">
						<view class="item-left">
							<view class="left-logo">
								<image :src="item.avatar" mode="aspectFit"></image>
							</view>
							<view class="left-tip">
								<view>{{ item.name }}</view>
								<view>{{ item.remark }}</view>
							</view>
						</view>
						<view class="item-right">
							<u-icon name="list-dot" color="#808080" size="30"></u-icon>
						</view>
					</view>
				</view>
			</view>
			<!-- 聊天-->
			<view class="indexList-chats" v-if="current == 1">
				<view class="chats-main">
					<u-cell-group>
						<u-cell class="chats-main_item" v-for="(item, index) in chatsMainArr" :title="item.name"
							:value="item.time" :arrow="false" @click="enterChat(item.uuid, 'private')">
							<view slot="icon">
								<view class="chats-logo">
									<image :src="item.avatar" mode="aspectFit"></image>
								</view>
							</view>
							<view slot="label">
								<view class="chats-label">
									<u-tag :text="item.type" type="success" shape="circle"></u-tag>
								</view>
							</view>
						</u-cell>
					</u-cell-group>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import restApi from '@/lib/restapi.js';
	export default {
		data() {
			return {
				current: 0,
				navList: [{
						name: '通讯录',
						nagivatePath: '',
					},
					{
						name: '聊天',
						nagivatePath: '',
					}
				],
				indexHeadArr: [{
						name: '密友',
						number: 0
					},
					{
						name: '备注',
						number: 0
					},
					{
						name: '关注我',
						number: 10
					},
					{
						name: '官方号',
						number: 0
					}
				],
				chatsMainArr: restApi.getUsers()
			}
		},
		onLoad() {

		},
		methods: {
			change(e) {
				let {
					index
				} = e;
				this.current = index;
			},
			enterChat(uuid, type) { //进入聊天页面
				let path = type === this.GoEasy.IM_SCENE.PRIVATE ?
					'../chat/privateChat/privateChat?to=' + uuid :
					'../chat/groupChat/groupChat?to=' + uuid;
				console.log('path', path);
				uni.navigateTo({
					url: path
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.status_bar {
		height: var(--status-bar-height);
	}

	.xf-cupid_head {
		display: flex;
		justify-content: center;
		align-items: center;
		position: sticky;
		top: var(--status-bar-height);
		z-index: 2;
		background: #fff;

		.u-tabs {
			background-color: transparent !important;
		}
	}

	.xf-cupid_search {
		padding: 20rpx;
	}

	.list-cell {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 24rpx;
		overflow: hidden;
		color: #323233;
		font-size: 14px;
		line-height: 24px;
		background-color: #fff;
	}

	.xf-cupid_indexList {

		// 通讯录
		.indexList-contacts {
			.contacts-head {
				.contacts-head_item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 30rpx 20rpx;
					margin: 0 20rpx;
					border-bottom: 1px solid #eeeeee;
					font-size: 30rpx;
					color: #3a3a3acc;
					font-weight: 600;
					letter-spacing: 1px;

					&:last-child {
						border-bottom: none;
					}
				}
			}

			.contacts-main {
				border-top: 10px solid #eeeeee;

				.contacts-main_title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 30rpx 20rpx;
					margin: 0 20rpx;
					border-bottom: 1px solid #eeeeee;
					font-size: 30rpx;
					font-weight: 600;
					letter-spacing: 1px;
					color: #1e80ff;
				}

				.contacts-main_item {
					padding: 15px 10px;
					margin: 0 10px;
					border-bottom: 1px solid #eeeeee;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.item-left {
						display: flex;
						justify-content: flex-start;

						.left-logo {
							width: 100rpx;
							height: 100rpx;
							border-radius: 50%;
							background: #d8d8d8;
							margin: 0 20rpx 0 0;

							uni-image {
								width: 100%;
								height: 100%;
							}
						}

						.left-tip {
							line-height: 1.7;
							font-size: 28rpx;
							letter-spacing: 1px;

							uni-view {
								&:nth-of-type(2) {
									color: #86909c;
								}
							}
						}
					}
				}
			}
		}

		// 聊天
		.chats-main {
			.chats-main_item {
				border: none;
			}

			.chats-logo {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #d8d8d8;
				margin: 0 20rpx 0 0;

				uni-image {
					width: 100%;
					height: 100%;
				}
			}

			.chats-label {
				display: inline-block;
				padding: 3px;
				border-radius: 10px;
				text-align: center;
				color: #f8f8f8;
			}
		}
	}
</style>
