<template>
	<view class="xf-cupid_find">
		<view class="xf-cupid-publish" @click="convertEnter('publish')">
			<view>发动态</view>
		</view>
		<view class="status_bar"></view>
		<view class="find-head">
			<u-tabs :list="navList" :current="current" @change="change"></u-tabs>
		</view>
		<!-- 索引列表 -->
		<view class="find-list">
			<!-- 关注 -->
			<view class="list-concern" v-if="current == 0">
				<view class="concern-tags">
					<view class="tags-item" v-for="(item, index) in concernTags" :key="index">
						<u-tag :text="item.title" type="success" mode="plain" />
					</view>
				</view>
				<view class="find-main">
					<view class="main-item" v-for="(item, index) in concernArr" :key="index" @click="convertEnter('detail')">
						<view class="item-content">
							<view class="content-logo">
								<view class="logo-img">
									<image :src="item.logo" mode="aspectFit"></image>
								</view>
							</view>
							<view class="content-show">
								<view class="show-titles">
									<view class="titles-left">
										<view class="left-name">{{ item.name }}</view>
										<view class="left-label">{{ item.uploadTime }}</view>
									</view>
									<view class="titles-right">
										<view class="right-btn">
											<u-button shape="circle" type="success" plain>私聊</u-button>
										</view>
									</view>
								</view>
								<view class="show-label">{{item.label}}</view>
								<view class="show-imgs">
								<!-- 	<view class="imgs-item" v-if="item.show == 'image'"
										v-for="(subItem, subIndex) in item.imgs" :key="subIndex">
										<u-image width="200rpx" height="200rpx" :src="subItem"></u-image>
									</view> -->
									<u-album :urls="item.imgs"></u-album>
								</view>
								<view class="show-address">
									<view class="address-texts">
										{{ item.address }}
									</view>
								</view>
								<view class="show-totals">
									<view class="totals-loves">
										<view class="totals-icon">
											<u-icon name="heart" size="30"></u-icon>
											<text>{{ item.loveNum }}</text>
										</view>
									</view>
									<view class="totals-comments">
										<view class="totals-icon">
											<u-icon name="more-circle" size="30"></u-icon>
											<text>{{ item.loveNum }}</text>
										</view>
									</view>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
			<!-- 推荐 -->
			<view class="list-recommend" v-if="current == 1">
				<view class="recommend-search">
					<u-search placeholder="感兴趣的话题"></u-search>
				</view>
				<view class="find-main">
					<view class="main-item" v-for="(item, index) in recommendArr" :key="index" @click="convertDetail">
						<view class="item-content">
							<view class="content-logo">
								<view class="logo-img">
									<image :src="item.logo" mode="aspectFit"></image>
								</view>
							</view>
							<view class="content-show">
								<view class="show-titles">
									<view class="titles-left">
										<view class="left-name">{{ item.name }}</view>
										<view class="left-label">{{ item.uploadTime }}</view>
									</view>
									<view class="titles-right">
										<view class="right-btn">
											<u-button shape="circle" type="primary" plain>关注</u-button>
										</view>
									</view>
								</view>
								<view class="show-label">{{item.label}}</view>
								<view class="show-tags">
									<view class="tags-item" v-for="(subItem, subIndex) in item.tags" :key="subIndex">
										<u-tag :text="subItem" type="success" />
									</view>
								</view>
								<view class="show-imgs">
								<!-- 	<view class="imgs-item" v-if="item.show == 'image'"
										v-for="(subItem, subIndex) in item.imgs" :key="subIndex">
										<u-image width="200rpx" height="200rpx" :src="subItem"></u-image>
									</view> -->
									<u-album :urls="item.imgs"></u-album>
								</view>
								<view class="show-address">
									<view class="address-texts">
										{{ item.address }}
									</view>
								</view>
								<view class="show-totals">
									<view class="totals-loves">
										<view class="totals-icon">
											<u-icon name="heart" size="30"></u-icon>
											<text>{{ item.loveNum }}</text>
										</view>
									</view>
									<view class="totals-comments">
										<view class="totals-icon">
											<u-icon name="more-circle" size="30"></u-icon>
											<text>{{ item.lovesNum }}</text>
										</view>
									</view>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import findApi from '@/lib/findapi.js';
	export default {
		data() {
			return {
				current: 1,
				navList: [{
						name: '关注'
					},
					{
						name: '推荐'
					}
				],
				concernTags: findApi.getTags(),
				concernArr: findApi.getConcerns(),
				recommendArr: findApi.getRecommends()
			}
		},
		created() {},
		methods: {
			change(e) {
				let { index } = e;
				this.current = index;
			},
			convertEnter(type) {
				let url = '';
				switch(type) {
					case 'detail': url = '/pages/detail/detail'; break;
					case 'publish': url = '/pages/publish/publish'; break;
					default: break;
				}
				uni.navigateTo({
					url
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.xf-cupid_find {
		.xf-cupid-publish {
			position: fixed;
			bottom: 200rpx;
			right: 40rpx;
			padding: 15rpx 25rpx;
			z-index: 2;
			border-radius: 50rpx;
			background: #2979ff;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			color: #fff;
			letter-spacing: 1rpx;

			.u-icon {
				padding: 0 5rpx 0 0;
			}
		}

		.status_bar {
			height: var(--status-bar-height);
		}

		.find-head {
			display: flex;
			justify-content: center;
			align-items: center;
			position: sticky;
			top: var(--status-bar-height);
			background: #fff;
			z-index: 2;

			.u-tabs {
				background-color: transparent !important;
			}
		}

		.find-list {
			margin: 0 20rpx;

			.list-concern {
				.concern-tags {
					display: flex;
					padding: 20rpx 0;

					.tags-item {
						padding: 0 20rpx 0 0;
					}
				}
			}

			.list-recommend {
				.recommend-search {
					padding: 20rpx 0;
				}
			}

			.find-main {
				padding: 20rpx 0;

				.main-item {
					.item-content {
						margin: 20rpx 0;
						padding: 0 0 20rpx 0;

						.content-logo {
							display: inline-block;
							vertical-align: top;
							width: 120rpx;

							.logo-img {
								width: 100rpx;
								height: 100rpx;
								background-color: cornflowerblue;
								border-radius: 50%;

								uni-image {
									width: 100%;
									height: 100%;
								}
							}
						}

						.content-show {
							display: inline-block;
							width: calc(100% - 120rpx);

							.show-titles {
								display: flex;
								justify-content: space-between;
								padding: 0 0 10px 0;
								border-bottom: 1px solid #e8e5e5;

								.titles-left {
									.left-name {
										padding: 0 0 10rpx 0;
										letter-spacing: 1rpx;
										font-size: 30rpx;
										color: #333;
									}

									.left-label {
										font-size: 25rpx;
										color: #808080;
									}
								}

								.titles-right {
									.right-btn {
										uni-button {
											height: 60rpx;
										}
									}
								}
							}

							.show-label {
								margin: 20rpx 0 0 0;
							}

							.show-tags {
								margin: 20rpx 0 0 0;
								display: flex;

								.tags-item {
									padding: 0 10rpx 0 0;
								}
							}

							.show-imgs {
								margin: 20rpx 0 0 0;
								display: flex;
								justify-content: flex-start;
								flex-wrap: wrap;

								.imgs-item {
									padding: 0 10rpx 10rpx 0;
								}
							}

							.show-address {
								margin: 20rpx 0 0 0;

								.address-texts {
									font-size: 30rpx;
									letter-spacing: 1rpx;
									font-weight: 600;
									color: #2196f3
								}
							}

							.show-totals {
								display: flex;
								justify-content: flex-end;
								align-items: center;

								.totals-icon {
									padding: 0 20rpx;
									color: #808080;

									text {
										padding: 0 0 0 5rpx;
										// vertical-align: top;
									}
								}
							}
						}
					}
				}
			}
		}
	}
</style>
