<template>
	<view class="xf-cupid_login">
		<view class="status_bar" style="height: var(--status-bar-height);"></view>
		<view class="login-title">盲盒交友</view>
		<view class="login-subTitle">
			<view class="subTitle-line"></view>
			<view class="subTitle-text">有趣的灵魂万里挑一</view>
			<view class="subTitle-line"></view>
		</view>
		<view class="login-main">
			<view class="main-icons">
				<view class="icons-img"><u-icon name="phone-fill" color="#9e9e9e" size="25"></u-icon></view>
				<view class="icons-text">手机号码</view>
			</view>
			<view class="main-inputs">
				<view class="inputs-input">
					<u-input v-model="value" :type="type" :border="border" placeholder="请输入手机号" />
				</view>
				<view class="inputs-tip">
					<view class="inputs-btn">密码登录</view>
					<view class="inputs-btn">登录遇到问题</view>
				</view>
			</view>
			<view class="main-buttons">
				<view class="buttons-submit">
					<u-button shape="circle" type="primary" @click="convertTab">获取验证码</u-button>
				</view>
			</view>
			<view class="main-privates">
				<view class="privates-radio">
					<u-radio-group><u-radio /></u-radio-group>
					<view class="radio-label">
						<text class="radio-gray">我已阅读并同意</text>
						<text class="radio-blue">该用户协议</text>
						<text class="radio-gray">和</text>
						<text class="radio-blue">隐私政策</text>
					</view>
				</view>
			</view>
		</view>
		<view class="login-others">
			<view class="others-icons">
				<view class="icons-img">
					<u-icon name="weixin-circle-fill" color="#4caf50" size="30"></u-icon>
				</view>
				<view class="icons-img">
					<u-icon name="qq-circle-fill" color="#2979ff" size="30"></u-icon>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				value: '',
				type: 'number',
				border: false
			}
		},
		onLoad() {
			
		},
		methods: {
			convertTab() {
				uni.switchTab({
					url: '/pages/home/home'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.xf-cupid_login {
		position: relative;
		text-align: center;
		height: 100vh;
		.login-title {
			padding: 100rpx 0 20rpx 0;
			font-size: 60rpx;
			letter-spacing: 2rpx;
			background: linear-gradient(360deg, #79A6F4 0%, #2E5FEB 100%);
			text-shadow: 0px 0px 15px 3px rgba(137,173,248,0.7800);
			-webkit-background-clip: text;
			color: transparent;
		}
		.login-subTitle {
			display: flex;
			justify-content: center;
			align-items: center;
			.subTitle-line {
				width: 50px;
				height: 2px;
				background: #1e80ff;
				&:first-child {
						margin: 0 10px 0 0;
				}
				&:last-child {
					margin: 0 0 0 10px;
				}
			}
			.subTitle-text {
				    letter-spacing: 1px;
				    font-size: 14px;
				    font-weight: 600;
				    color: #878789;
			}
		}
		.login-main {
			margin: 50rpx 30rpx;
			.main-icons {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.icons-img {
					padding: 6rpx 20rpx 0 0;
				}
				.icons-text {
					font-size: 30rpx;
				    font-weight: 600;
					letter-spacing: 1rpx;
					color: #9e9e9e;
				}
			}
			.main-inputs {
				margin: 20rpx 0;
				.inputs-input {
					padding: 0 10rpx;
					border-bottom: 1rpx solid #d8d8d8;
				}
				.inputs-tip {
					margin: 20rpx 0;
					display: flex;
					justify-content: space-between;
					letter-spacing: 1rpx;
					font-size: 30rpx;
					font-weight: 500;
					color: #03a9f4;
					.inputs-btn {
						cursor: pointer;
					}
				}
			}
			.main-buttons {
				margin: 80rpx 0 30rpx 0;
			}
			.main-privates {
				display: flex;
				align-items: center;
				justify-content: center;
				.privates-radio {
					display: inline-flex;
					align-items: center;
					.radio-gray {
						color: #b7b7b7;
					}
					.radio-blue {
						color: #03a9f4;
						padding: 0 10rpx;
						cursor: pointer;
						font-weight: 500;
					}
				}
			}
		}
		.login-others {
			position: absolute;
			bottom: 50rpx;
			width: 100%;
			.others-icons{
				display: flex;
				    align-items: center;
				    justify-content: center;
					.icons-img {
						padding: 0 10rpx;
					}
			}
		}
	}
</style>