<template>
	<view class="xf-cupid_detail">
		<!-- 头部标题 -->
		<view class="detail-head">
			<view class="head-left">
				<view class="left-logo">
					<image :src="logo" mode="aspectFit"></image>
				</view>
			</view>
			<view class="head-right">
				<view class="right-title">
					<view class="title-top">
						<text>sunny</text>
					</view>
					<view class="title-bottom">
						<text>8月20日 17:58</text>
					</view>
				</view>
				<view class="right-btn">
					<u-button shape="circle" type="success" plain>私聊</u-button>
				</view>
			</view>
		</view>
		<!-- 主内容 -->
		<view class="detail-main">
			<view class="main-text">
				<view class="text-description">
					<text>空荡荡的十四号线</text>
				</view>
			</view>
			<view class="main-imgs">
				<view class="imgs-item" v-for="(item, index) in imgs" :key="index">
					<u-album class="imgs-item" :urls="imgs" keyName="src"></u-album>
				<!-- 	<u-image radius="10px" width="100%" height="100%" :src="item.src"></u-image> -->
				</view>
			</view>
			<view class="main-extra">
				<view class="extra-address">
					<view class="address-text">上海市</view>
				</view>
				<view class="extra-operation">
					<view class="totals-loves">
						<view class="totals-icon">
							<u-icon name="heart" size="30"></u-icon>
							<text>50</text>
						</view>
					</view>
					<view class="totals-comments">
						<view class="totals-icon">
							<u-icon name="more-circle" size="30"></u-icon>
							<text>200</text>
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- 评论区 -->
		<view class="detail-comments">
			<view class="comments-head">
				<view class="head-title">全部评论</view>
				<view class="head-switchs">
					<u-switch v-model="value" size="25"></u-switch>
				</view>
			</view>
			<view class="comments-main">
				<view class="main-item" v-for="(item, index) in new Array(5).fill(1)" :key="index">
					<view class="item-logo">
						<image :src="logo" mode="aspectFit"></image>
					</view>
					<view class="item-content">
						<view class="content-texts">
						  <view class="texts-top">
							  <view class="top-left">
								  <view class="top-title">叹为观止的越前龙马</view>
								  <view class="top-remak">这不是14号线</view>
							  </view>
							  <view class="top-right">
								  <view class="heart-icon">
								  	<u-icon name="heart" size="30"></u-icon>
								  </view>
								  <view class="heart-num"></view>
							  </view>
						  </view>
						  <view class="texts-middle">
							  <view class="middle-item">
								  <view class="item-name">
									  <text class="name">作者</text>
									  <text>：</text>
								  </view>
								  <view class="item-remark">
									  <text>是的，暴雨，所以人少</text>
								  </view>
							  </view>
						  </view>
						  <view class="texts-bottom">
							  <view class="bottom-tip">
								  <text>1天前</text>
								  <text>*</text>
								  <text>回复</text>
							  </view>
						  </view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- 编辑区 -->
		<view class="detail-edits">
			<view class="edits-input">
				<u-input placeholder="请输入评论"></u-input>
				<u-icon name="pause-circle-fill" color="#ffb949" size="30"></u-icon>
			</view>
			<view class="edits-btn">
				<u-icon name="plus-circle-fill" color="#2979ff" size="30"></u-icon>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				imgs: [{ src: '/static/txn.jpeg' }],
				logo: '/static/images/Avatar-1.png',
				value: true
			}
		},
		created() {},
		methods: {
			
		}
	}
</script>

<style lang="scss" scoped>
	.xf-cupid_detail {
		background: #f6f6f6;
		position: relative;
		margin-bottom: 100rpx;
		.detail-head {
			padding: 20rpx;
			display: flex;
			background: #fff;
			border-bottom: 1rpx solid #ecebeb;
			.head-left {
				width: 120rpx;
				display: inline-block;
				padding: 0 20rpx 0 0;
				.left-logo {
					width: 100rpx;
					height: 100rpx;
					background-color: #9e9e9eb0;
					border-radius: 50%;
					uni-image {
						width: 100%;
						height: 100%;
					}
				}
			}
			.head-right {
				width: calc(100% - 140rpx);
				display: flex;
				justify-content: space-between;
				align-items: center;
				.right-title {
					padding: 0 0 10rpx 0;
					.title-top {
						    padding: 0 0 10rpx 0;
						    letter-spacing: 1rpx;
						    font-size: 32rpx;
						    color: #333333c4;
					}
					.title-bottom {
						font-size: 25rpx;
						color: #808080;
					}
				}
				.right-btn {
					uni-button {
						height: 60rpx;
					}
				}
			}
		}
		.detail-main {
			padding: 20rpx;
			background: #fff;
			.main-text {
				.text-description {
					padding: 20rpx 0;
					color: #333;
					letter-spacing: 1rpx;
				}
			}
			.main-imgs {
				.imgs-item {
					width: 100%;
					height: 500rpx;
					border-radius: 10rpx;
					padding: 10rpx 0;
				}
			}
			.main-extra {
				margin: 20rpx 0;
				font-size: 30rpx;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.extra-address {
					letter-spacing: 1rpx;
					font-weight: 600;
					color: #2196f3
				}
				.extra-operation {
					display: inline-flex;
					.totals-icon {
						padding: 0 20rpx;
						color: #808080;
						text-align: center;
						text {
							padding: 0 0 0 5rpx;
						}
					}
				}
			}
		}
		.detail-comments {
			margin: 20rpx 0 0;
			background: #fff;
			.comments-head {
				padding: 40rpx 20rpx;
				display: flex;
				justify-content: space-between;
				border-bottom: 1rpx solid #d8d8d85e;
				.head-title {
					font-size: 30rpx;
					font-weight: 600;
					letter-spacing: 1rpx;
					color: #808080;
				}
			}
			.comments-main {
				padding: 20rpx;
				.main-item {
					&:last-child {
						border-bottom: none;
					}
					padding: 0 0 20rpx 0;
					margin: 0 0 20rpx 0;
					border-bottom: 1rpx solid #ecebeb;
					.item-logo {
						width: 80rpx;
						height: 80rpx;
						background: #9e9e9eb0;
						border-radius: 50%;
						display: inline-block;
						uni-image {
							width: 100%;
							height: 100%;
						}
					}
					.item-content {
						display: inline-block;
						padding: 0 0 0 20rpx;
						width: calc(100% - 100rpx);
						vertical-align: top;
						.content-texts {
							.texts-top {
								display: flex;
								justify-content: space-between;
								.top-title {
									color: #808080;
									padding: 0 0 20rpx 0;
									letter-spacing: 1rpx;
								}
								.top-remak {
									color: #333;
									font-size: 30rpx;
									letter-spacing: 1rpx;
									padding: 0 0 20rpx 0;
								}
								.top-right {
									text-align: center;
									color: #808080;
								}
							}
							.texts-middle {
								width: 100%;
								background: #9e9e9e1a;
								border-radius: 10rpx;
								margin: 0 0 10rpx 0;
								.middle-item {
									padding: 20rpx;
									font-size: 30rpx;
									display: inline-flex;
									.item-name {
										.name {
											color: #2196f3;
											font-weight: 600;
											letter-spacing: 1rpx;
										}
									}
									.item-remark {
										color: #808080;
										letter-spacing: 1rpx;
									}
								}
							}
							.texts-bottom {
								color: #808080;
								text {
									padding: 0 15rpx 0 0;
									letter-spacing: 1rpx;
								}
							}
						}
					}
				}
			}
		}
		.detail-edits {
			position: fixed;
			width: calc(100% - 20px);
			height: 100rpx;
			background: #fff;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 10px;
			.edits-input {
				    border-radius: 50rpx;
				    margin: 20rpx 10rpx;
					padding: 0 20rpx;
				    background: #f7f8fa;
					width: calc(100% - 90rpx);
					display: inline-flex;
					.u-input {
						border: none;
					}
			}
			.edit-btn {
				width: 90rpx;
				cursor: pointer;
			}
		}
	}
</style>