<template>
	<view class="xf-cupid_setting">
		<u-cell-group>
			<u-cell title="账号安全"></u-cell -item>
			<u-cell title="新消息通知"></u-cell -item>
			<u-cell title="隐私"></u-cell -item>
			<u-cell title="辅助功能"></u-cell -item>
			<u-cell title="创作者中心"></u-cell -item>
			<u-cell title="达人认证"></u-cell -item>
			<u-cell title="盲盒交友充值"></u-cell -item>
			<u-cell title="推荐盲盒交友"></u-cell -item>
			<u-cell title="青少年模式"></u-cell -item>
			<u-cell title="帮助与反馈"></u-cell -item>
			<u-cell title="关于盲盒交友" value="v1.0.0"></u-cell -item>
			<u-cell title="切换账号"></u-cell -item>
			<u-cell title="退出登录" @click="logout"></u-cell -item>
		</u-cell-group>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		created() {},
		methods: {
			logout() {
				uni.reLaunch({
					url:'/pages/login/login'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>