<template>
	<view class="xf-cupid_mine">
		<view class="status_bar"></view>
		<!-- 头部 -->
		<view class="xf-cupid_head">
			<view class="top-head">
			<view class="head-setting">
	         <u-button shape="circle" plain  @click="convertEnter('setting')">设置</u-button>
			</view>
			</view>
			<view class="head-main">
				<view class="main-logo">
					<image src="/static/images/Avatar-1.png" mode="aspectFit"></image>
				</view>
				<view class="main-label">
					<text>人生的目标在于不断的追求!</text>
					<u-icon name="edit-pen-fill" size='30'></u-icon>
				</view>
			<!-- 	<view class="main-tags">
					<u-tag text="直男" mode="plain" type="primary" />
					<u-tag text="健身" mode="plain" type="primary" />
					<u-tag text="漫威" mode="plain" type="primary" />
				</view> -->
			</view>
			<view class="head-footer">
				<view class="footer-main" v-for="(item, index) in footerArr">
					<view>{{ item.name }}</view>
					<view>{{ item.number }}</view>
				</view>
			</view>
		</view>
		<!-- 主内容 -->
		<view class="xf-cupid_main">
			<!-- 标题栏 -->
			<view class="main-title">
				<view class="title-left">全部</view>
				<view class="title-right" @click="convertEnter('publish')">
					<u-icon name="plus" color="#2979ff" size="20"></u-icon>
				</view>
			</view>
			<!-- 发布瞬间 -->
			<view class="main-show">
				<view class="main-show_item" v-for="(item, index) in mainArr">
					<view class="item-top">
						<view class="item-top-time">{{ item.createTime }}</view>
						<view class="item-top-label">{{ item.label }}</view>
					</view>
					<view class="item-middle">
						<view class="item-middle-remark">{{ item.description }}</view>
						<view class="item-middle-imgs">
							<!-- <view class="imgs-item" v-if="item.type == 'image'" v-for="(subItem, subIndex) in item.imgs" :key="subIndex">
								<u-image width="200rpx" height="200rpx" :src="subItem"></u-image>
							</view> -->
							<u-album v-if="item.type == 'image'" :urls="item.imgs"></u-album>
						</view>
					</view>
					<view class="item-footer">
						<view class="footer-address">{{ item.address }}</view>
						<view class="footer-icon">评论</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import mineApi from '@/lib/mineapi.js';
	export default {
		data() {
			return {
				footerArr: [
					{
						name: '关注',
						number: 10
					},
					{
						name: '被关注',
						number: 18
					},
					{
						name: '看过我',
						number: 252
					}
				],
				mainArr: mineApi.getMines()
			}
		},
		onLoad() {
			
		},
		methods: {
			convertEnter(type) {
				let url = '';
				switch(type) {
					case 'setting': url = '/pages/setting/setting'; break;
					case 'publish': url = '/pages/publish/publish'; break;
					default:break;
				}
				uni.navigateTo({
					url
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.status_bar {
		height:var(--status-bar-height);
	}
	.xf-cupid_head {
		position: relative;
		.top-head {
			    position: absolute;
			    top: 20px;
			    left: 20px;
			    width: calc(100% - 40px);
			    display: flex;
			    justify-content: flex-end;
			    align-items: center;
			.head-setting {
				cursor: pointer;
				uni-button {
					height: 60rpx;
				}
			}
		}
		.head-main {
			height: 700rpx;
			background-repeat: no-repeat;
			background-size: cover;
			    display: flex;
			    justify-content: center;
			    align-items: center;
				flex-direction: column;
			    color: #86909c;
			    letter-spacing: 1px;
			    font-weight: 600;
				.main-logo {
					width: 150rpx;
					height: 150rpx;
					border-radius: 50%;
					background: #e8f3ff;
					margin: 0 0 30rpx 0;
					uni-image {
						width: 100%;
						height: 100%;
					}
				}
				.main-label {
					font-size: 30rpx;
					margin: 0 0 20rpx 0;
					display: inline-flex;
					align-items: center;
					text {
						padding: 0 10rpx 0 0;
					}
				}
				.main-tags {
					uni-view {
						margin: 0 10rpx;
					}
				}
		}
		.head-footer {
			    position: absolute;
			    width: 100%;
			    height: 120rpx;
			    bottom: 0;
			    background: #86909c;
			    opacity: 0.5;
				display: flex;
				justify-content: space-around;
				align-items: center;
				color: #fff;
				.footer-main {
					text-align: center;
					line-height: 2;
					font-size: 28rpx;
					letter-spacing: 1px;
					    width: calc(100% / 3);
					    border-right: 1px solid #f4f5f5;
						&:last-child {
							border-right: none;
						}
				}
		}
	}
	.xf-cupid_main {
		.main-title {
			display: flex;
			    font-size: 30rpx;
			    margin: 20rpx;
			    padding: 20rpx 0;
			    justify-content: space-between;
			    align-items: center;
			    letter-spacing: 1px;
			    border-bottom: 1px solid #eeeeee;
				.title-left {
					font-size: 18px;
					    font-weight: 600;
					    color: #808080;
				}
				.title-right {
					    border-radius: 20px;
					    // background: #e5e6eb;
					    padding: 5px 10px;
						cursor: pointer;
						color: #3a3a3acc;
						font-weight: 600;
				}
		}
		.main-show {
			margin: 20rpx;
			.main-show_item {
				border-bottom: 1px solid #e8f3ffcc;
				.item-top {
					display: flex;
					    justify-content: space-between;
					    align-items: center;
					    color: #808080;
					    font-size: 28rpx;
					    padding: 20rpx 0;
						.item-top-label {
							    color: #86909c;
							    font-weight: 600;
								letter-spacing: 1rpx;
						}
				}
				.item-middle {
					letter-spacing: 1px;
					.item-middle-remark {
						margin: 0 0 20rpx 0;
					}
					.item-middle-imgs {
						display: flex;
						justify-content: flex-start;
						flex-wrap: wrap;
						.imgs-item {
							padding: 0 10rpx 10rpx 0;
						}
					}
				}
				.item-footer {
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: #808080;
					font-size: 30rpx;
					padding: 20rpx 0;
					.footer-address {
						    color: #5199e7;
						    font-weight: 600;
					}
					.footer-icon {
						    padding: 10rpx 20rpx;
						    border-radius: 30rpx;
						    background: #e5e6eb;
						    font-size: 28rpx;
						    color: #5199e7;
							font-weight: 600;
							letter-spacing: 1rpx;
					}
				}
			}
		}
	}
</style>