page {
		font-size: 28rpx;
		color: #212121;
		height: 100%;
		background: #fff;
	}

	image {
		will-change: transform
	}

	.container {
		padding: 20rpx;
	}

	.iconfont {
		font-family: "iconfont" !important;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
	}

	/*每个页面公共css */
	@font-face {
		font-family: 'iconfont';
		/* project id 1997429 */
		src: url('https://at.alicdn.com/t/font_1997429_8xzvctxta3u.eot');
		src: url('https://at.alicdn.com/t/font_1997429_8xzvctxta3u.eot?#iefix') format('embedded-opentype'),
			url('https://at.alicdn.com/t/font_1997429_8xzvctxta3u.woff2') format('woff2'),
			url('https://at.alicdn.com/t/font_1997429_8xzvctxta3u.woff') format('woff'),
			url('https://at.alicdn.com/t/font_1997429_8xzvctxta3u.ttf') format('truetype'),
			url('https://at.alicdn.com/t/font_1997429_8xzvctxta3u.svg#iconfont') format('svg');
	}

	.main-bg {
		background-color: #da649a;
	}

	.main-text {
		color: #da649a;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.flex-row-center {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.flex-row-left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.flex-row-right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.flex-column-center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
