<template>
	<view class="xf-cupid-home">
		<view class="status_bar"></view>
		     <!-- 模块-->
			 <view class="xf-cupid-module">
				 <view class="module-btn">
					 <u-button plain type="success" shape="circle" text="进入" @click="convertEnter('extract')"></u-button>
				 </view>
			 </view>
			<!-- 头部 -->
			<view class="xf-cupid_head">
				<u-tabs :list="navList" :current="current" change="change"></u-tabs>
				<view class="head-icon">
					<u-icon name="search" color="#9e9e9e" size="30"></u-icon>
				</view>
			</view>
			<!-- 索引列表 -->
			<view class="xf-cupid_indexList">
				<!-- 推荐 -->
				<view class="list indexList-recommend" v-if="current == 0">
					<view class="list-card" v-for="(item, index) in indexList" :key="index">
					<view class="list-card-top">
						<view class="card-left">
							<view class="left-image">
								<image :src="item.logo" mode="aspectFit"></image>
							</view>
						</view>
						<view class="card-right">
							<view class="right-top">
								<view class="top-one">
									<view class="one-name">{{ item.name }}</view>
									<view class="one-status">
										<text class="activeLx" v-if="item.status">离线</text>
										<text class="activeZx" v-else>在线</text>
									</view>
								</view>
								<view class="top-two">
									<view class="two-age">
										<u-icon name="woman" color="#8bc34a" size="25"></u-icon>
										<text class="age-label">{{ item.age }}</text>
									</view>
									<view class="two-distance">
										<text>{{ item.distance }}</text>
									</view>
								</view>
							</view>
							<view class="right-middle">
								<view class="middle-video">
									<text>语录</text>
									<u-icon name="volume-fill" color="#ff9800" size="30"></u-icon>
								</view>
								<view class="middle-message">
									<text>{{ item.introduction }}</text>
								</view>
							</view>
						</view>
					</view>
					<view class="list-card-bottom">
						<view class="bottom-tags">
							<view class="tags-item" v-for="(tagItem, tagIndex) in item.tags" :key="tagIndex">
								<u-tag :text="tagItem" mode="plain" type="success" />
							</view>
						</view>
						<view class="bottom-btn">
							<u-button shape="circle" type="success" plain  @click="convertEnter('personalInfo')">找她</u-button>
						</view>
					</view>
					</view>
				</view>
				<!-- 最新 -->
				<view class="list indexList-new" v-if="current == 1">
					<view class="list-card" v-for="(item, index) in indexList" :key="index">
					<view class="list-card-top">
						<view class="card-left">
							<view class="left-image">
								<image :src="item.logo" mode="aspectFit"></image>
							</view>
						</view>
						<view class="card-right">
							<view class="right-top">
								<view class="top-one">
									<view class="one-name">{{ item.name }}</view>
									<view class="one-status">
										<text class="activeLx" v-if="item.status">离线</text>
										<text class="activeZx" v-else>在线</text>
									</view>
								</view>
								<view class="top-two">
									<view class="two-age">
										<u-icon name="woman" color="#8bc34a" size="35"></u-icon>
										<text class="age-label">{{ item.age }}</text>
									</view>
									<view class="two-distance">
										<text>{{ item.distance }}</text>
									</view>
								</view>
							</view>
							<view class="right-middle">
								<view class="middle-video">
									<text>语录</text>
									<u-icon name="volume-fill" color="#ff9800" size="50"></u-icon>
								</view>
								<view class="middle-message">
									<text>{{ item.introduction }}</text>
								</view>
							</view>
						</view>
					</view>
					<view class="list-card-bottom">
						<view class="bottom-tags">
							<view class="tags-item" v-for="(tagItem, tagIndex) in item.tags" :key="tagIndex">
								<u-tag :text="tagItem" mode="plain" type="default" />
							</view>
						</view>
						<view class="bottom-btn">
							<u-button shape="circle" type="success" plain size="default" @click="convertEnter('personalInfo')">找她</u-button>
						</view>
					</view>
					</view>
				</view>
			</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				current: 0,
				navList: [
					{
						name: '推荐',
						nagivatePath: ''
					},
					{
						name: '最新',
						nagivatePath: ''
					}
				],
				indexList: [
					{
						logo: '/static/images/Avatar-1.png',
						name: 'To.沫沫·',
						age: 21,
						tags: ['爱笑', '大长腿', '值得期待'],
						distance: '250km',
						introduction: '请求老天赐我一位男朋友吧!',
						status: 0
					},
					{
						logo: '/static/images/Avatar-1.png',
						name: '姐是女神',
						age: 24,
						tags: ['声音好听', '御姐控', '不负期待'],
						distance: '2km',
						introduction: '让我的人生充满期待',
						status: 1
					},
					{
						logo: '/static/images/Avatar-1.png',
						name: '猫猫兔兔',
						age: 18,
						tags: ['温柔', '萝莉音'],
						distance: '2km',
						introduction: '就是想欺负你',
						status: 0
					},
					{
						logo: '/static/images/Avatar-1.png',
						name: '甜茶呀',
						age: 18,
						tags: ['温柔', '萝莉音'],
						distance: '2km',
						introduction: '茶神永不为奴!',
						status: 0
					},
					{
						logo: '/static/images/Avatar-1.png',
						name: '爱笑的小女孩',
						age: 25,
						tags: ['温柔', '萝莉音'],
						distance: '2km',
						introduction: '加油，奥里给!',
						status: 0
					}
				]
			}
		},
		methods: {
			change(e) {
				let { index } = e;
				this.current = index;
			},
			convertEnter(type) {
				let url = '';
				switch(type) {
					case 'extract': url = '/pages/extract/extract'; break;
					case 'personalInfo': url = '/pages/personalInfo/personalInfo'; break;
					default:break;
				}
				uni.navigateTo({url});
			}
		}
	}
</script>

<style lang="scss" scoped>
	.xf-cupid-home {
	.status_bar {
		height: var(--status-bar-height);
	}
	.xf-cupid-module {
		margin: 10px;
		width: calc(100% - 20px);
		height: 400rpx;
		background: url('../../static/bg1.png');
		border-radius: 10px;
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
		.module-btn {
			position: absolute;
			right: 10px;
			top: 10px;
			uni-button {
				height: 60rpx;
			}
		}
	}
	.xf-cupid_head {
		   display: flex;
		   justify-content: space-between;
		   align-items: center;
		   position: sticky;
		   top:var(--status-bar-height);
		   z-index: 2;
		   background: #fff;
		   .u-tabs {
		   	background-color: transparent !important;
		   }
		   .head-icon {
			   padding: 0 10px;
		   }
	}
	.xf-cupid_indexList {
		.list {
			.list-card {
				padding: 15px 10px;
				margin: 0 10px;
				border-bottom: 1px solid #f8f2f2;
			.list-card-top {
				display: flex;
				justify-content: flex-start;
				
				&:last-child {
					border: none;
				}
				.card-left {
	                 width: 100rpx;
					.left-image {
						width: 100rpx;
						height: 100rpx;
						border-radius: 50%;
						uni-image {
							width: 100%;
							height: 100%;
						}
					}
				}
				.card-right {
					width: calc(100% - 100rpx);
					.right-top {
						font-size: 30rpx;
						.top-one {
							display: flex;
							padding: 0 10px 5px;
							justify-content: space-between;
							.one-name {
								color: #5d5f5f;
								font-weight: 600;
							}
							.one-status {
								font-weight: 600;
								font-size: 32rpx;
								.activeLx {
									color: #9e9e9e;
								}
								.activeZx {
									color: #4caf50;
								}
							}
						}
						.top-two {
							display: flex;
							padding: 0 10px 10px;
							justify-content: space-between;
							.two-age {
								    display: inline-flex;
								    align-items: center;
								.u-icon {
									padding: 0 5px 0 0;
								}
								.age-label {
									display: inline-block;
									padding: 10rpx;
									border-radius: 10rpx;
									background: #8bc34a;
									color: #fff;
									font-size: 20rpx;
								}
							}
							.two-distance {
								font-weight: 32rpx;
								color: #808080;
							}
						}
					}
					.right-middle {
						.middle-video {
							padding: 10px 10px 0 10px;
							font-size: 34rpx;
							letter-spacing: 1rpx;
							color: #9e9e9e;
							font-weight: 600;
							display: inline-flex;
							align-items: center;
							.u-icon {
								padding: 0 0 0 10px;
							}
						}
						.middle-message {
							padding: 5px 10px;
							font-size: 30rpx;
							letter-spacing: 1rpx;
						}
					}
				}
			}
			.list-card-bottom {
				display: flex;
				justify-content: space-between;
				padding: 10px 0 0 0;
				.bottom-tags {
					.tags-item {
						display: inline-block;
						padding: 3px;
						.u-tag {
							background: #d8d8d873;
							color: #2196f3;
						}
					}
				}
				.bottom-btn {
					uni-button {
						height: 60rpx;
					}
				}
			}
			}
		}
	}
	}
</style>