<template>
	<view class="xf-cupid-publish">
		<view class="status_bar"></view>
		<view class="xf-cupid-head">
			<view class="head-close" @click="convertClose">
				<u-icon name="close" size="25"></u-icon>
			</view>
			<view class="head-publish">
				<u-button shape="circle" type="primary">发布</u-button>
			</view>
		</view>
		<view class="xf-cupid-main">
			<view class="main-textArea">
				<textarea class="text-description" placeholder="记录这一刻,  晒给懂你的人..."></textarea>
			</view>
			<view class="main-plus">
				<u-icon name="plus" size="50" color="#808080"></u-icon>
			</view>
			<view class="main-topic">
				<view class="topic-tag">
					<view class="tag-icon">#</view>
					<view class="tag-title">新人报道</view>
				</view>
				<view class="topic-tag">
					<view class="tag-icon">#</view>
					<view class="tag-title">更多话题</view>
				</view>
			</view>
		</view>
		<view class="xf-cupid-footer">
			<view class="footer-left">
				<view class="left-location left-common">
					<u-icon name="map-fill" size="20"></u-icon>
					<text>你在哪里</text>
				</view>
				<view class="let-contact left-common">
					<text>@</text>
					<text>Ta</text>
				</view>
			</view>
			<view class="footer-right">
				<view class="right-status">
					<text>广场可见</text>
					<u-icon name="arrow-right" size="20" color="#808080"></u-icon>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		created() {},
		methods: {
			convertClose() {
				uni.navigateBack()
			}
		}
	}
</script>

<style lang="scss" scoped>
	.xf-cupid-publish {
		position: relative;
		height: 100vh;

		.status_bar {
			height: var(--status-bar-height);
		}

		.xf-cupid-head {
			padding: 20rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.head-close {
				.u-icon {
					font-weight: 600;
				}
			}

			.head-publish {
				uni-button {
					height: 60rpx;
				}
			}
		}

		.xf-cupid-main {
			.main-textArea {
				.text-description {
					padding: 0 20rpx;
				}
			}

			.main-plus {
				margin: 20rpx;
				width: 200rpx;
				height: 200rpx;
				background: #f4f5f5;
				border-radius: 20rpx;
				display: flex;
				justify-content: center;
			}

			.main-topic {
				padding: 0 20rpx 20rpx;
				display: flex;
				flex-wrap: wrap;

				.topic-tag {
					padding: 10rpx 20rpx;
					margin: 0 10rpx 0 0;
					background: #6ea8f31f;
					border-radius: 30rpx;
					letter-spacing: 1rpx;
					width: 182rpx;
					color: #1e80ffcf;
					cursor: pointer;

					&:active {
						opacity: 0.7;
					}

					.tag-icon {
						display: inline-block;
						padding: 0 4rpx 0 0;
					}

					.tag-title {
						display: inline-block;
					}
				}
			}
		}

		.xf-cupid-footer {
			position: absolute;
			bottom: 10rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 10rpx;
			border-top: 1rpx solid #f3f0f0;
			.footer-left {
				display: inline-flex;
				color: #808080;
				.left-common {
					margin: 0 10rpx;
					padding: 10rpx;
					border-radius: 30rpx;
					border: 1rpx solid #d8d8d8;
					letter-spacing: 1rpx;
                    display: inline-flex;
                    align-items: center;
					&:active {
						opacity: 0.8;
					}
				}
			}
			.footer-right {
				letter-spacing: 1rpx;
				color: #808080;
				.right-status {
					display: inline-flex;
					align-items: center;
					.u-icon {
						padding: 0 10rpx;
					}
				}
			}
		}
	}
</style>
